<div class="container">
  <h2 class="text-center">Tasks for <%= Date.today.year %></h2>

  <%= link_to "➕ Add Task", new_task_path, class: "btn btn-primary mb-3" %>

  <%= turbo_frame_tag "calendar-frame" do %>
    <%= render partial: "calendar/month_grid", locals: { year: Date.today.year, months_with_tasks: @months_with_tasks } %>
  <% end %>
</div>
